﻿body {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    background-image: url('glasses2.png');
    /*potrzeba zdefiniować rozmiar tła?*/
    background-attachment: fixed;
    padding: 5%;
    color: black;
    text-align: justify;
    line-height: 1.4;
}

header {
    margin: -50px -50px 65px -50px;
}

h1 {
    padding: 14px;
    width: 400px;
    text-align: center;
    background-color: lightgrey;
    border: 5px solid black;
    color: red;
    border-radius: 25px;
    animation-name: title;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes title {
    from {
    background-color: lightgrey;
    border: 5px solid black;
    color: red;
    }
    to {
    background-color: white;
    border: 5px solid red;
    color: black;
    }
}

section {
    margin: 5px 0px 0px 0px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 25px;
    border: 5px solid black;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
    position: sticky;
    top: 0;
    border-radius: 25px;
    border: 5px solid black;
}

li.menu {
    float: left;
}

ul.list {
    display: inline-block;
	list-style-type: circle;
    background-color: white;
    margin-top: 0;
}

li a {
    display: inline-block;
    /*wystarczy samo block*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
}

li a:hover {
    background-color: #111;
    color: red;
}

.active {
    background-color: red;
}

p#a01 {
    text-indent: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.anchor {
    display: block;
    height: 115px;
    /*same height as header*/
    margin-top: -115px;
    /*same height as header*/
    visibility: hidden;
}

footer.center {
    margin: 5px 0px 0px 0px;
    padding: 14px;
    width: 400px;
    text-align: center;
    background-color: lightgrey;
    border: 5px solid black;
    border-radius: 25px;
}

table#t01 { 
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #aca8a8;
}

table#t01 th {
    background-color: black;
    color: white;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

a#alink {
    color:red;
    text-decoration: none;
    text-align:center;
}

div#d01 {
    float: right;
}

.img-with-text {
    width: 512px;
    text-align: center
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    width:256px;
    height:179px;
}